<style type="text/css">

  .faq__question-container:hover {
    border-color: #2e3133;
}
.faq input { display: none; }
.faq input:checked + label { 
  background-color: #d8ebe5;
    color: #007266;
    border: unset;
    padding-bottom; 16px;
    padding-left;30px
    padding-right;30pw
  
    margin-top: 26px; 
}
  .faq__question-container {
    margin-bottom: 15px;
    margin-top: 26px;
    margin-left; 15px
}
  .faq__question-container {
    color: #2e3133;
    font-size: 16px;
    margin-top: 26px;
    border-radius: 4px;
    border: 1px solid #d2d4d6;
    background-color: #d8ebe5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    transition: 0.3s cubic-bezier(0.32, 0.36, 0.4, 1);
    outline-width: 0px;
}
  *, *::before, *::after {
    box-sizing: border-box;
}
  body {
    color: #000;
    background-color: #d8ebe5;
    font-family: "Gordita","Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    overflow-x: hidden;
}
  
Style Attribute {
    window-height: 721px;
    header-height: 120px;
    header-height-real: 120px;
}
 
.faq label { 
 font-family: "Gordita","Helvetica Neue",Arial,"Lucida Grande";
 cursor: pointer; 
 display: block; 
 height: auto; 
 text-align: left; 
 padding:10px;
 padding-left:30px;
 margin:0 0 0 48%;
 padding-right: 15px;

 color: #333; 
 font-size:100%; 
 border:1px solid #FFFFFF;
 border-bottom: 4px;
 font-weight: bold; 
 background-color: #d8ebe5; 
}
.faq label:before {
 content:"+";
 line-height:21px;
 font-size:21px; 
 margin-right:48px; 
}
.faq input:checked + label:before {
 content:"-";
}
.faq label:last-child { margin-right: 0 0 0 48%; }
.faq label:hover { 
 background: (top,#FFFFFF,#FFFFFF); 
}
.faq article { 
 max-height: 0;
 overflow: hidden; 
 transition: max-height 0.15s ease-out;
 position: relative; 
 margin-bottom: 15px;
 margin top:26;
 padding:0 0 0 48%; 
 color: #333; 
 opacity: 0;
 border:40px solid #FFFFFF;
}
.faq div > input:checked ~ article { 
 max-height: 500px;
 opacity: 1;
 margin-bottom:0 0 0 48%;
 transition: 0.30s ; 
}
.faq-wrapper  { 
 margin-right: 15px; 
}
  

</style> 
<form class="faq">
    <div class="faq-wrapper">
        <input type="radio" name="size" id="faq1" value="faq1" checked="checked" />
        <label for="faq1">Zester suffit-il pour dîner ?</label>
        <article>
            <p align="justify" > Une planche est un apéro dinatoire, cela veut dire que ton ventre ne criera pas famine à la fin de la dégustation, nous te l’assurons. Pour les grands mangeurs et ceux qui auraient peur de manquer n’hésitez pas à commander une baguette en supplément. Et pour ceux qui auraient besoin de finir leur dîner sur une touche sucrée, commandez un petit Zest sur le gâteau.</p>
        </article>
    </div>
  
    <div class="faq-wrapper">
        <input type="radio" name="size" id="faq2" value="faq2" />
        <label for="faq2">A combien s’élève la livraison ? </label>
        <article>
            <p align="justify" > La livraison est assurée par une chouette entreprise de coursier à vélo, produit purement français : Diligo. Nous livrons actuellement dans Paris intra-muros pour 3,5€. 
Notre souhait était de ne faire aucune concession sur la livraison à vélo. Et pour être tout à fait honnête avec vous et justifier ce prix, sachez que nous rentrons dans le prix des planches plus de la moitié du prix de la livraison réel. Et ce n’est pas que vous payez votre planche plus cher, bien au contraire c’est que nous faisons une marge plus petite.
</p>
        </article>
    </div>
    <div class="faq-wrapper">
        <input type="radio" name="size" id="faq3" value="faq3" />
        <label for="faq3">Quand pouvons-nous nous faire livrer ?</label>
        <article>
            <p align="justify" > Nous enfourchons notre vélo à 17h30 et livrons la dernière commande pour 21h30.  Et oui en Italie l’apéro commence tôt, en Espagne il commence tard, ici chez Zest nous essayons de ravir tout le monde.</p>
        </article>
      
      
      
   <button type="button" class="123 agathe"><figure class="123 agathe"><svg height="10" width="10"><path 
  ></path></svg></figure><div class="1234"><a href="https://zestplanche.com">Planche raclette</a></div><div><p class="sc-1ocr61o-0 kYdDFG cxzms8-9 itSuDY">10<sup class="sc-1ocr61o-1 jcBXWt">€90</sup></button>
     <div/>
    		
   <button type="button" class="albane agathe"><figure class="123 agathe"><svg height="10" width="10"><path 
  ></path></svg></figure><div class="1234"><a href="https://zestplanche.com">Planche raclette</a></div><div><p class="sc-1ocr61o-0 kYdDFG cxzms8-9 itSuDY">10<sup class="sc-1ocr61o-1 jcBXWt">€90</sup></button>
   
   <button type="button" class="pauline agathe"><figure class="123 agathe"><svg height="10" width="10"><path 
  ></path></svg></figure><div class="1234"><a href="https://zestplanche.com">Planche raclette</a></div><div><p class="sc-1ocr61o-0 kYdDFG cxzms8-9 itSuDY">10<sup class="sc-1ocr61o-1 jcBXWt">€90</sup></button>

          
      <title>Titre du document</title>
     <button type="button" class="personne"
             <body>
      <a href="https://zestplanche.com/collections/nos-planches/products/planche-2-zesteurs" class="button.personne">2 Zesteurs</a>
   </body>
  
  <head>
      <title>Titre du document</title>
     <button type="button" class="personne"
             <body>
      <a href="https://zestplanche.com/collections/nos-planches/products/planche-3-zesteurs" class="button.personne">3 Zesteurs</a>
   </body>
  
 
   <button type="button" class="personne"
             <body>
      <a href="https://zestplanche.com/collections/nos-planches/products/planche-4-zesteurs" class="button.personne">4 Zesteurs</a>
   </body>