{% section 'raclette' %}
   
    
      </div>
     <script 
        <label for="mot">Petit mot à nous Zester ? :</label>
     	<textarea id="mot" name="mot"
                  style="width: 281px;" placeholder="Un petit mot à nous Zester ?">
         <div
            </script>
          
There are <span class="cart-item-count"></span> item(s) in your cart.

<script>
  var cartItemCounter = document.querySelector('span.cart-item-count');

  jQuery.ajax({
      url: '/cart.js',
      dataType: 'json'
    })
    .done(function(data){
      var newCount = data.item_count;
      cartItemCounter.innerText = newCount;
    });
</script>


<form action="#" method="post" id="add-item-form">
  variant: <input type="text" size="8" name="id" value="35838199529629" class="update" /> 
  qty: <input type="text" size="3" name="quantity" value="1" />
    age: <input type="number"  name="age" value="20" />
    qty: 
    	  <input type="checkbox" id="tartinable1" name="tartinable" value="Tapenade">
          <label for="tartinable1"> I have a bike</label><br>
          <input type="checkbox" id="tartinable2" name="tartinable" value="Humous">
          <label for="tartinable2"> I have a car</label><br>
          <input type="checkbox" id="tartinable3" name="tartinable" value="Rillettes">
          <label for="tartinable3"> I have a boat</label><br>
    

  
</form>
<p><a href="#" onclick="
		Shopify.addItemFromForm('add-item-form');
		return false">Shopify.addItemFromForm</a>('add-item-form')</p>



<button type="button" class="123 agathe"><figure class="123 agathe"><svg height="10" width="10"><path 
                                                                                                      <div class="position--left-center">
                              <div class="image-container only-mobile">
                                <img src="https://cdn.shopify.com/s/files/1/0466/5232/6045/files/EDITION_LIMITEE.png?v=1602776566" data-sizes="30px"
							</div>
								<div class="slider__text">
									<h2 class="slider__title heading z-h1">Planche<br> chaude dînatoire<br> solide</h2>
									<p class="slider__description"></p>
									<a href="https://zestplanche.com/collections/nos-planches/products/planche-2-zesteurs" tabindex="0">DÉCOUVRIR</a>
  ></path></svg></figure><div class="1234"><a href="https://zestplanche.com">Planche raclette</a></div><div><p class="sc-1ocr61o-0 kYdDFG cxzms8-9 itSuDY">10<sup class="sc-1ocr61o-1 jcBXWt">€90</sup></button>
     <div/>
    		
  
   <button type="button" class="albane agathe"><figure class="123 agathe"><svg height="10" width="10"><path 
  ></path></svg></figure><div class="1234"><a href="https://zestplanche.com">Planche raclette</a></div><div><p class="sc-1ocr61o-0 kYdDFG cxzms8-9 itSuDY">10<sup class="sc-1ocr61o-1 jcBXWt">€90</sup></button>
   
   <button type="button" class="pauline agathe"><figure class="123 agathe"><svg height="10" width="10"><path 
  ></path></svg></figure><div class="1234"><a href="https://zestplanche.com">Planche raclette</a></div><div><p class="sc-1ocr61o-0 kYdDFG cxzms8-9 itSuDY">10<sup class="sc-1ocr61o-1 jcBXWt">€90</sup></button>

          
      <title>Titre du document</title>
     <button type="button" class="personne"
             
             <body>
									
							<div class="position--left-center">
                              <div class="image-container only-mobile">
                                <img src="https://cdn.shopify.com/s/files/1/0466/5232/6045/files/EDITION_LIMITEE.png?v=1602776566" data-sizes="30px"
							</div>
								<div class="slider__text">
									<h2 class="slider__title heading z-h1">Planche<br> chaude dînatoire<br> solide</h2>
									<p class="slider__description"></p>
									<a href="https://zestplanche.com/collections/nos-planches/products/planche-2-zesteurs" tabindex="0">DÉCOUVRIR</a>
   </body>
  
  <head>
      <title>Titre du document</title>
     <button type="button" class="personne"
             <body>
      <a href="https://zestplanche.com/collections/nos-planches/products/planche-3-zesteurs" class="button.personne">3 Zesteurs</a>
   </body>
  
 
   <button type="button" class="personne"
             <body>
      <a href="https://zestplanche.com/collections/nos-planches/products/planche-4-zesteurs" class="button.personne">4 Zesteurs</a>
   </body>
                             
   
  
 