<div id="shopify-section-instafeed-app" class="shopify-section"><!-- -->
<section class="Section Section--spacingNormal index" data-section-id="instafeed-app"><section class="SectionHeader SectionHeader--center">
            <div class="Container"><h2 class="SectionHeader__Heading Heading u-h1">Suivez-nous sur Instagram</h2><h3 class="SectionHeader__SubHeading Heading u-h6 Classic__Font"><a href="https://www.instagram.com/zest.planche/" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Instagram">@zest.planche</a></h3></div>
        </section>
        <div id="instagramSwiper" class="InstagramfeedApp">
            <div class="tb-feed" id="insta-feed"><a href="https://www.instagram.com/p/CKyeLamg2_K/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:98%;height:98%;" src="https://scontent.cdninstagram.com/v/t51.2885-15/145595235_751551065757417_1785942422055414949_n.jpg?_nc_cat=106&amp;ccb=2&amp;_nc_sid=8ae9d6&amp;_nc_ohc=0ELowvnTcV8AX9jpfBn&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=d8d59b592c83ce7ec334e0d37fb7f51e&amp;oe=6041DA72" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/145595235_751551065757417_1785942422055414949_n.jpg?_nc_cat=106&amp;ccb=2&amp;_nc_sid=8ae9d6&amp;_nc_ohc=0ELowvnTcV8AX9jpfBn&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=d8d59b592c83ce7ec334e0d37fb7f51e&amp;oe=6041DA72" alt="instagram post image"><div style="width:98%;height:98%;" class="instafeed-overlay "></div></div></a><a href="https://www.instagram.com/p/CKwjacNB-OW/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:98%;height:98%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/144471029_464404304569635_9187653180424987347_n.jpg?_nc_cat=102&amp;ccb=2&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Vj01mMjVaasAX_zsgq_&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=b27849f707b5071e227f6071e0e9163f&amp;oe=6040E616" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/144471029_464404304569635_9187653180424987347_n.jpg?_nc_cat=102&amp;ccb=2&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Vj01mMjVaasAX_zsgq_&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=b27849f707b5071e227f6071e0e9163f&amp;oe=6040E616" alt="instagram post image"><div style="width:98%;height:98%;" class="instafeed-overlay "></div></div></a><a href="https://www.instagram.com/p/CKtBznXgdF1/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:98%;height:98%;" src="https://scontent.cdninstagram.com/v/t51.2885-15/144186293_860476668069658_8343857195261210536_n.jpg?_nc_cat=100&amp;ccb=2&amp;_nc_sid=8ae9d6&amp;_nc_ohc=D-PDv65n2ikAX_J7WFD&amp;_nc_oc=AQnv80-f4j8mmEuzZ3D5C2tkK9CDHcNBhypBUaMlOuCTsn9eGhv4UQC9F1DteeCtzIA&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=8fe1ad2710a7ed2907e21bc05d6e8d81&amp;oe=60406219" data-src="https://scontent.cdninstagram.com/v/t51.2885-15/144186293_860476668069658_8343857195261210536_n.jpg?_nc_cat=100&amp;ccb=2&amp;_nc_sid=8ae9d6&amp;_nc_ohc=D-PDv65n2ikAX_J7WFD&amp;_nc_oc=AQnv80-f4j8mmEuzZ3D5C2tkK9CDHcNBhypBUaMlOuCTsn9eGhv4UQC9F1DteeCtzIA&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=8fe1ad2710a7ed2907e21bc05d6e8d81&amp;oe=60406219" alt="instagram post image"><div style="width:98%;height:98%;" class="instafeed-overlay "></div></div></a><a href="https://www.instagram.com/p/CKovb6Eh8zC/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:25.000000%;padding-top:25.000000%;"><img class="js-lazy-image js-lazy-image--handled" style="width:98%;height:98%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/143559196_119843750013451_5714910417738369196_n.jpg?_nc_cat=108&amp;ccb=2&amp;_nc_sid=8ae9d6&amp;_nc_ohc=VXlP6aP2ea0AX9dZtJV&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=d25a58aacf48aa37fe2d46a117073f0c&amp;oe=603FE648" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/143559196_119843750013451_5714910417738369196_n.jpg?_nc_cat=108&amp;ccb=2&amp;_nc_sid=8ae9d6&amp;_nc_ohc=VXlP6aP2ea0AX9dZtJV&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=d25a58aacf48aa37fe2d46a117073f0c&amp;oe=603FE648" alt="instagram post image"><div style="width:98%;height:98%;" class="instafeed-overlay "></div></div></a></div>
        </div>
    
</section>

<style>
  
    #insta-feed {
      width:100%;
    }
    
    #insta-feed h2{
      font-size:20px;
    }
  
    #shopify-section-instafeed-app {
      position: relative;
      z-index: 3;
      transform: translateY(40px);
    }
  
    #shopify-section-instafeed-app.shopify-section--bordered {
      border-top: none;
    }
  
    #shopify-section-instafeed-app > .Section  {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  
    #shopify-section-instafeed-app > .Section--spacingNormal  {
      padding-top: 0;
    }
  
    #shopify-section-instafeed-app .SectionHeader {
      margin-bottom: 24px;
    }
  
    #shopify-section-instafeed-app .SectionHeader__Heading {
      font-size: 46px;
    }

    #shopify-section-instafeed-app .SectionHeader__SubHeading .Link:hover {
      color: #5588CB;
    }
    
    #shopify-section-instafeed-app #insta-feed > a > div {
      width: 100% !important;
      height: 100% !important;
    }
    
    @media screen and (max-width: 640px) {
      #shopify-section-instafeed-app #insta-feed {
        height: 100%;
        min-height: 250px;
        margin-top: 0;
      }
      
      #shopify-section-instafeed-app #insta-feed {
        display: inline-block;
        width: 100%;
      }
      
      
      #shopify-section-instafeed-app #insta-feed .instafeed-container {
        padding-top: 100% !important;
        width: 100% !important;
      }

      #shopify-section-instafeed-app #insta-feed .slick-slide img {
        padding: 1em;
      }

      #shopify-section-instafeed-app #insta-feed .slick-slide.slick-current img {
        padding: 0;
      }
    }
    
    
  
    @media screen and (min-width: 641px) {
      #shopify-section-instafeed-app .SectionHeader {
        position: absolute;
        left: 50%;
        transform: translateX(-300px);
      }
  
      #shopify-section-instafeed-app .SectionHeader .Container {
        padding: 0;
        width: 205px;
        text-align: left;
      }
  
      #shopify-section-instafeed-app .SectionHeader__Heading {
        font-size: 31px;
        font-weight: normal;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp {
        height: 350px;
      }
      #shopify-section-instafeed-app .InstagramfeedApp .flickity-prev-next-button {
        display: none;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp {
        max-width: 610px;
        margin: 0 auto;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div {
        transform: none !important;
        position: relative !important;
      }
      
      #shopify-section-instafeed-app .InstagramfeedApp > div > a {
        position: absolute;
      }
      
      #insta-feed .instafeed-container {
        width: 100% !important;
        height: 100% !important;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:nth-child(2),
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:nth-child(4) {
        width: 156px;
        height: 156px;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:first-child {
        width: 194px;
        height: 194px;
        top: 150px !important;
        left: 0 !important;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:nth-child(2) {
        left: 220px !important;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:nth-child(3) {
        width: 222px;
        height: 222px;
        left: 400px !important;
        top: 50px !important;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:nth-child(4) {
        left: 220px !important;
        top: 180px !important;
      }
    }
  
    @media screen and (min-width: 1008px) {
      #shopify-section-instafeed-app  {
        position: relative;
        z-index: 3;
        margin-top: 0;
      }
  
      #shopify-section-instafeed-app > .Section  {
        padding-top: 60px;
      }
  
      #shopify-section-instafeed-app .SectionHeader .SectionHeader__Heading {
        font-size: 40px;
        font-weight: normal;
        margin-bottom: 16px;
       }
  
      #shopify-section-instafeed-app .InstagramfeedApp {
        height: 420px;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp {
        max-width: 900px;
      }
    
      #shopify-section-instafeed-app .InstagramfeedApp .flickity-prev-next-button {
        display: none;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div {
        transform: none !important;
        position: relative !important;
      } 
  
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:nth-child(2),
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:nth-child(4) {
        width: 200px;
        height: 200px;
        left: 340px !important;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:first-child {
        width: 240px;
        height: 240px;
        left: 80px !important;
        top: 180px !important;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:nth-child(3) {
        width: 280px;
        height: 280px;
        left: 560px !important;
        top: 50px !important;
      }
  
      #shopify-section-instafeed-app .InstagramfeedApp > div > a:nth-child(4) {
        top: 220px !important;
      }
  
      #shopify-section-instafeed-app .SectionHeader {
        position: absolute;
        left: 50%;
        transform: translateX(-480px);
      }
  
      #shopify-section-instafeed-app .SectionHeader .Container {
        padding: 0;
        width: 280px;
        text-align: left;
      }
  
      #shopify-section-instafeed-app .Section--spacingNormal {
        padding-top: 0;
      }
    }
  
    @media screen and (min-width: 1280px) {
      
      #shopify-section-instafeed-app .Section--spacingNormal {
        padding-top: 20px;
      }
    }
  </style>

<!-- Initialize Swiper -->
<script>
  var tbdInnerWidth = window.innerWidth;

  if(tbdInnerWidth <= 640) {

    setTimeout(function () {
      $('.tb-feed').slick({
        centerMode: true,
        centerPadding: '0px',
        slidesToShow: 1,
        inifinte: true,
        responsive: [
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: '60px',
              slidesToShow: 1
            }
          }
        ]
      });
    }, 3000);
  }
</script>

</div>